* {
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 10vh;
  background-color: #F6E8EA;
  color: #985F99;
}
nav p{
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
}
.menu {
  border: 1px solid red;
  width: 25%;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  padding: 5vh;
  background-color: #F6E8EA;
  font-family: 'Chelsea Market', cursive;
}
.home{
  font-size: 30px;
}
.interest {
  font-size: 14px;
}