* {
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 10vh;
  background-color: #F6E8EA;
  color: #985F99;
}
nav p{
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
}
.main-content{
  display: flex;
}
.menu-add{
  width: 25%;
}
.menu {
  border: 1px solid red;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  padding: 5vh;
  background-color: #F6E8EA;
  font-family: 'Chelsea Market', cursive;
}
.home{
  font-size: 30px;
}
.interest {
  font-size: 14px;
}
.add-butt{
  border: 1px solid blue;
  background-color: #F6E8EA;
  height: 21.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #985F99;
}
.to-do-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
}
.to-do-container img{
  width: 20px;
}
.todo{
  width: 75%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
}
.one{
  background-color: red;
}
.two{
  background-color: yellow;
}
.three{
  background-color: cyan;
}