.to-do-container{
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 75%;
  }
  .todo{
    width: 90%;
    height: 5.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vh;
  }
  .todo-first-half{
    display: flex;
    gap: 5vh;
    align-items: center;
  }
  .todo-second-half{
    display: flex;
    gap: 4vh;
  }
  .details{
    align-self: center;
    background-color: transparent;
    border-radius: 8%;
    height: 3.5vh;
    font-size: 11px;
    font-weight: 600;
  }
  .details-high {
    color: #f96262d2;
    border: 2px solid #f96262d2;
  }
  .details-high:hover {
    color: white;
    background-color: #f96262d2;
  }
  .details-mid {
    color: #fbc45ee0;
    border: 2px solid #fbc45ee0;
  }
  .details-mid:hover {
    color: white;
    background-color: #fbc45ee0;
  }
  .details-low {
    color: #79ffffdf;
    border: 2px solid #79ffffdf;
  }
  .details-low:hover {
    color: white;
    background-color: #79ffffdf;;
  }
  .fa-solid{
    align-self: center;
  }
  .high-border{
    border: 3px solid #f96262d2;
  }
  .mid-border{
    border: 3px solid #fbc45ee0;
  }
  .low-border{
    border: 3px solid #79ffffdf;
  }
  .high-check{
    color: #f96262d2;
    border-right: 3px solid #fe6464d2;
    font-size: 3vh;
    padding: 1vh;
  }
  .mid-check{
    color: #fbc45ee0;
    border-right: 3px solid #fbc45ee0;
    font-size: 3vh;
    padding: 1vh;
  }
  .low-check{
    color: #79ffffdf;
    border-right: 3px solid #79ffffdf;
    font-size: 3vh;
    padding: 1vh;
  }