.create-form{
    position: fixed;
    z-index: 5;
    width: 75vh;
    height: 50vh;
    background-color: #F6E8EA;
    visibility: hidden;
    font-family: "Chelsea Market", cursive;
    border-radius: 1vh;
}
.visible {
    visibility: visible;
}
.create-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vh;
    background-color: #985F99;
    border-radius: 1vh 1vh 0 0;
}
.create-close-butt{
    cursor: pointer;
}
.create-main-content{
    display: flex;
    border: 0.25vh solid #985F99;
    border-radius: 0 0 1vh 1vh;
    height: 42.5vh;
}
.text-box {
    background-color: transparent;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    width: inherit;
}
.create-details {
    height: 15vh;
    margin-bottom: 9vh;
}
#title {
    width: 50vh;
}
#details {
    height: inherit;
    margin-bottom: 10vh;
    width: 50vh;
}
.create-date{
    display: flex;
    align-items: center;
    gap: 2vh;
    height: 4vh;
    margin-bottom: 1.5vh;
}
.create-date-warn {
    visibility: hidden;
}
#due-date {
    cursor: pointer;
    height: 50%;
}
.priority-and-send {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create-priority {
    display: flex;
    align-items: inherit;
}
.priority-tag-label {
    margin-right: 2vh;
}
.create-priority input{
    display: none;
}
.create-new-prio-butt{
    margin-right: 2vh;
    display: flex;
    width: 7vh;
    height: 3vh;
    justify-content: center;
    align-items: center;
}
.create-new-prio-low {
    border: 0.2vh solid #53db5a;
    color: #53db5a;
}
.create-new-prio-low:hover {
    background-color: #53db5a;
    color: white;
}
.create-new-prio-low-active {
    background-color: #53db5a;
    color: white;
}
.create-new-prio-mid {
    border: 0.2vh solid #fbc45ee0;
    color: #fbc45ee0;
}
.create-new-prio-mid:hover {
    background-color: #fbc45ee0;
    color: white;
}
.create-new-prio-mid-active {
    background-color: #fbc45ee0;
    color: white;
}
.create-new-prio-high {
    border: 0.2vh solid #f96262d2;
    color: #f96262d2;
}
.create-new-prio-high:hover {
    background-color: #f96262d2;
    color: white;
}
.create-new-prio-high-active {
    background-color: #f96262d2;
    color: white;
}
.create-new-prio-butt label {
    margin: 0;
}
.prio-label {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.create-submit{
    background-color: #985F99;
    border-radius: 5%;
    width: 7vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    
}
.create-submit button {
    background-color: transparent;
    border: none;
    color: #F6E8EA;
    font-family: "Chelsea Market", cursive;
    cursor: pointer;
}
.create-submit:hover {
    background-color: transparent;
    border: 0.1vh solid #985F99;
}
.create-submit button {
    width: 100%;
}
.create-submit button:hover {
    color: #985F99;
}
@media (max-width: 1000px) {
    html, body {
        margin: 0; height: 100%; overflow: hidden;
    }
    .create-form {
        width: 40vh;
        height: 50vh;
    }
    .create-main-content {
        height: 42vh;
        width: 40vh;
        border: 0.25vh solid #985F99;
        border-top: none;
    }
    .create-main-content form {
        width: 40vh;
    }
    .create-details {
        width: 32vh;
    }
    .create-date {
        gap: 2vh;
    }
    .create-main-content label {
        font-size: 1.7vh;
    }
    #due-date {
        width: 10vh;
        font-size: 1.15vh;
    }
    .create-date p {
        font-size: 1vh;
        text-align: center;
    }
    .create-new-prio-butt {
        height: 3vh;
        margin-right: 0.5vh;
        width: 5vh;
    }
    .create-priority {
        width: 32vh;
        gap: 1vh;
    }
    .priority-tag-label {
        margin-right: 1vh;        
    }
    .create-submit {
        margin-left: 1vh;
    }
}