.to-do-container{
    display: flex;
    position: relative;
    z-index: 2;
    padding-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }
  .todo{
    width: 90%;
    height: 5.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vh;
  }
  .todo-first-half{
    display: flex;
    gap: 5vh;
    align-items: center;
    font-size: 2vh;
  }
  .todo-second-half{
    display: flex;
    gap: 4vh;
  }
  .details{
    align-self: center;
    background-color: transparent;
    border-radius: 8%;
    height: 2.5vh;
    font-size: 0.8vh;
    cursor: pointer;
    font-weight: 600;
  }
  .details-high {
    color: #f96262d2;
    border: 1px solid #f96262d2;
  }
  .details-high:hover {
    color: white;
    background-color: #f96262d2;
  }
  .details-mid {
    color: #fbc45ee0;
    border: 1px solid #fbc45ee0;
  }
  .details-mid:hover {
    color: white;
    background-color: #fbc45ee0;
  }
  .details-low {
    color: #79ffffdf;
    border: 1px solid #79ffffdf;
  }
  .details-low:hover {
    color: white;
    background-color: #79ffffdf;;
  }
  .high-border{
    border: 3px solid #f96262d2;
  }
  .mid-border{
    border: 3px solid #fbc45ee0;
  }
  .low-border{
    border: 3px solid #79ffffdf;
  }



  .check-container {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    cursor: pointer;
  }
  .check:hover {
    display: block;
  }
  
  .check-container:hover i{
    visibility: visible;
  }

  .high-container {
    color: #f96262d2;
    border-right: 3px solid #fe6464d2;
  }
  .mid-container {
    border-right: 3px solid #fbc45ee0;
    color: #fbc45ee0;
  }
  .low-container {
    color: #79ffffdf;
    border-right: 3px solid #79ffffdf;
  }

  .date-container {
    font-size: 12px;
    width: 80px;
  }

  .fa-solid{
    align-self: center;
  }
  .fa-pencil{
    cursor: pointer;
  }
  .fa-ban {
    cursor: pointer;
  }
  .icon-high:hover {
    color: #f96262d2;
  }
  .icon-mid:hover {
    color: #fbc45ee0;
  }
  .icon-low:hover {
    color: #79ffffdf;
  }

  @media (max-width: 1000px) {
    .to-do-container {
      padding-top: 6vh;
      padding-bottom: 2vh;
    }
    .todo {
      padding-right: 0.8vh;
      text-align: center;
    }
    .todo-first-half{
      font-size: 1.5vh;
      text-align: center;
      gap: 0.5vh;
      width: 20vh;
    }
    .todo-first-half p{
      width: 11vh;
    }
    .todo-second-half{
      gap: 1.5vh;
    }
  }