.details-overlay {
    position: fixed;
    z-index: 5;
    width: 75vh;
    height: 38vh;
    max-height: 45vh;
    font-family: 'Chelsea Market', cursive;
    background-color: #f6E8EA;
    border: 3px solid #985F99;
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 1.5vh;
    border-radius: 1vh;
}
.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}
.details-content {
    padding-left: 4vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.details-info {
    display: flex;
    gap: 3vh;
}
.details-close {
    cursor: pointer;
    height: 3vh;
}
.details-close:hover {
    color: #985F99;
}
@media (max-width: 1000px) {
    html, body {
        margin: 0; height: 100%; overflow: hidden;
    }
    .details-overlay {
        width: 40vh;
        height: 40vh;
    }
    .details-content h2{
        font-size: 3vh;
        text-align: center;
    }
}