header{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #F6E8EA;
    color: #985F99;
    position: sticky;
    top: 0;
    z-index: 100;
}
.title {
  display: flex;
  gap: 1.5vh;
}
header p{
  font-size: 5vh;
  font-family: 'Fredericka the Great', cursive;
}
.mobile-nav-button {
  display: none;
}
@media (max-width : 1000px) {
  .mobile-nav-button {
    display: block;
  }
  .title p {
    margin : 0;
  }
  .head-content {
    background-color: #F6E8EA;
    display: flex;
    justify-content: center;
  }
  header {width: 90%;}
  .menu-div {
    margin-right: auto;
    margin-left: 1.5vh;
  }
  .title {
    margin-right: auto;
    margin-left: -1.5vh;
  }
}