.edit-form{
    position: fixed;
    z-index: 5;
    width: 75vh;
    height: 50vh;
    background-color: #F6E8EA;
    visibility: hidden;
    font-family: "Chelsea Market", cursive;
    border-radius: 1vh;
}
.visible {
    visibility: visible;
}

.edit-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vh;
    background-color: #985F99;
    border-radius: 1vh 1vh 0 0;
}
.edit-close-butt{
    cursor: pointer;
}

.edit-main-content{
    display: flex;
    justify-content: center;
    height: 85%;
    border: 2px solid #985F99;
    border-radius: 0 0 1vh 1vh;
}
form {
    padding-top: 3vh;
    width: 75vh;
    padding: 2vh 2vh 1vh 2vh;
}
.text-box {
    background-color: transparent;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    width: inherit
}
.edit {
    height: 15vh;
    margin-bottom: 9vh;
}
.edit-date-warn {
    visibility: hidden;
}
#title {
    width: 50vh;
}
#details {
    height: inherit;
    margin-bottom: 10vh;
    width: 95%;
}
.edit-details {
    height: 15vh;
    margin-bottom: 9vh;
}
.edit-date{
    display: flex;
    align-items: center;
    gap: 2vh;
    height: 4vh;
    margin-bottom: 1.5vh;
}
#due-date {
    cursor: pointer;
}

.priority-and-send {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-priority {
    display: flex;
    align-items: inherit;
}
.priority-tag-label {
    margin-right: 2vh;
}
.edit-priority input{
    display: none;
}
.edit-new-prio-butt{
    margin-right: 2vh;
    display: flex;
    width: 7vh;
    height: 3vh;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.edit-new-prio-low {
    border: 2px solid #79ffffdf;
    color: #79ffffdf;
}
.edit-new-prio-low:hover {
    background-color: #79ffffdf;
    color: white;
}
.edit-new-prio-low-active {
    background-color: #79ffffdf;
    color: white;
}
.edit-new-prio-mid {
    border: 2px solid #fbc45ee0;
    color: #fbc45ee0;
}
.edit-new-prio-mid:hover {
    background-color: #fbc45ee0;
    color: white;
}
.edit-new-prio-mid-active {
    background-color: #fbc45ee0;
    color: white;
}
.edit-new-prio-high {
    border: 2px solid #f96262d2;
    color: #f96262d2;
}
.edit-new-prio-high:hover {
    background-color: #f96262d2;
    color: white;
}
.edit-new-prio-high-active {
    background-color: #f96262d2;
    color: white;
}
.edit-new-prio-butt label {
    margin: 0;
}
.edit-prio-label {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.edit-submit{
    background-color: #985F99;
    border-radius: 5%;
    width: 7vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    
}
.edit-submit button {
    background-color: transparent;
    border: none;
    color: #F6E8EA;
    font-family: "Chelsea Market", cursive;
    cursor: pointer;
}
.edit-submit:hover {
    background-color: transparent;
    border: 1px solid #985F99;
}
.edit-submit button {
    width: 100%;
}
.edit-submit button:hover {
    color: #985F99;
}
@media (max-width: 1000px) {
    html, body {
        margin: 0; height: 100%; overflow: hidden
    }
    .edit-form {
        width: 40vh;
        height: 50vh;
    }
    .edit-main-content {
        height: 42vh;
        width: 40vh;
        border: 0.25vh solid #985F99;
        border-top: none;
    }
    .edit-main-content form {
        width: 40vh;
    }
    .edit-details {
        width: 37vh;
    }
    .edit-date {
        gap: 2vh;
    }
    .edit-main-content label {
        font-size: 1.7vh;
    }
    #due-date {
        width: 10vh;
        font-size: 1.15vh;
    }
    .edit-date p {
        font-size: 1vh;
        text-align: center;
    }
    .edit-new-prio-butt {
        height: 3vh;
        margin-right: 0.5vh;
        width: 5vh;
    }
    .edit-priority {
        width: 32vh;
        gap: 1vh;
    }
    .priority-tag-label {
        margin-right: 1vh;        
    }
    .edit-submit {
        margin-left: 1vh;
    }
}