
.menu-add{
    width: 25%;
  }
.menu {
    border: 1px solid red;
    z-index: 2;
    position: relative;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 5vh;
    background-color: #F6E8EA;
    font-family: 'Chelsea Market', cursive;
}
.home{
    font-size: 30px;
}
.interest {
    font-size: 14px;
}