.menu-add{
    height: 100vh;
    width: 25vh;
    flex: 1;
  }
.menu {
    display: flex;
    height: inherit;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding: 5vh;
    background-color: #F6E8EA;
    font-family: 'Chelsea Market', cursive;
}
.home{
    font-size: 30px;
}
.interest {
    font-size: 14px;
}

.add-butt{
    background-color: #F6E8EA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #985F99;
    font-size: 10vh;
    cursor: pointer;
    height: 20vh;
    top: 0;
  }